.red {
    color: red
}
/* This is used to make the name of the product*/
/* in white invisible text just below the page title*/
/* so the lunr search will find as the first hit*/
/* when you search on a product name */
/* IMPORTANT: Must be placed after any major front matter */
/* including variable definitions, :toc:, :!sectnums: */
/* and ifndef statements */
.white {
    color: white
}
/* This is code from Dan Allen that activates the */
/* align="left" or "right" parameter in block image specifications */
/* For centering, Leave align= out or use align=center  */
.doc .imageblock.text-left {
    align-items: flex-start;
}
.doc .imageblock.text-right {
    align-items: flex-end;
}


/* this controls all the tables with borders  */
table, th, td {
  border: 1px solid black !important;
}


/* this is for tables without borders  */
table.noborders table, table.noborders th, table.noborders td, table.noborders tr {
    border-style: none !important

}


/* From eskwayrd and mojavelinux */
/* this is the role used to center a table */

.center {
    margin-left: auto;
    margin-right: auto;
}

/* from ArchitectOnFire - how to center the search box*/
.navbar-brand .navbar-item.search {
    -webkit-box-flex: 1;
    -ms-flex: auto;
    flex: auto;
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: left;
}

.doc .admonitionblock .icon {
    border-radius: 1rem;
}

i.fa[class^='icon-'],
i.fa[class*=' icon-']::before {
    content: "";
    height: 1.25rem;
    width: 1.25rem;
    margin-right: 0.25rem;
    margin-left: -0.5rem;
}

i.fa.icon-note::before {
    background: no-repeat url("../img/note.svg");
}

i.fa.icon-tip::before {
    background: no-repeat url("../img/tip.svg");
}

i.fa.icon-important::before {
    background: no-repeat url("../img/important.svg");
}

i.fa.icon-warning::before {
    background: no-repeat url("../img/warning.svg");
}

i.fa.icon-caution::before {
    background: no-repeat url("../img/caution.svg");
}

/* This will hopefully insert a page break when */
/* doing a Save as PDF from Chrome */
/* Then add an empty DIV tag where you want */
/* the page to break as follows */
/* +++<div class="pagebreak"> </div>+++ */
@media print {
    .pagebreak { min-height: 1px; page-break-before: always; } /* page-break-after works, as well */
}