.red {
    color: red
}
/* This is used to make the name of the product*/
/* in white invisible text just below the page title*/
/* so the lunr search will find as the first hit*/
/* when you search on a product name */
.white {
    color: white
}
/* This is code from Dan Allen that activates the */
/* align="left" or "right" parameter in block image specifications */
/* Leave align= out if you want centering  */
.doc .imageblock.text-left {
    align-items: flex-start;
}
.doc .imageblock.text-right {
    align-items: flex-end;
}
/* This is used to make underlines, especially in table headers */
/* of complex IZA-series tables where one character is underlined */

.underline {
    text-decoration: underline;
  }
  
  table  {
    border: 1px, solid black;
  }

  th  {
    border: 1px, solid black;
  }

  td  {
    border: 1px, solid black;
  }